# Compilation output
obj/
bin/

# Object files
*.o

# Dependency files
*.d

# venv
.venv/

# Simulation csv files
docs/simulated_cell_behavior/csv

# Python cache
__pycache__/

# Library build artifacts
lib/